[Unit]
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/swayidle -w before-sleep 'loginctl lock-session' lock 'swaylock -f'

[Install]
WantedBy=sway-session.target
